<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<appenders>
		<File name="FILE" fileName="PagueCertoLogs/PagueCerto_Web.log">
			<PatternLayout pattern="%-5p [%d{dd-MM-yyyy HH:mm:ss}] [%c{1}.%M:%L] %m%n" />
		</File>

		<RollingFile name="RollingFile" fileName="PagueCertoLogs/PagueCerto_Web_RollingFile.log"
			filePattern="PagueCertoLogs/pcLog-%d{dd-MM-yyyy}-%i.log">
			<PatternLayout pattern="%-5p [%d{dd-MM-yyyy HH:mm:ss}] [%c{1}.%M:%L] %m%n" />
			<Policies>
				<TimeBasedTriggeringPolicy />				
			</Policies>
		</RollingFile>

		<Console name="STDOUT" target="SYSTEM_OUT">
			<PatternLayout pattern="%-5p [%d{dd-MM-yyyy HH:mm:ss}] [%c{1}.%M:%L] %m%n" />
		</Console>
	</appenders>
	<loggers>
		<root level="debug">
			<appender-ref ref="STDOUT" />
			<appender-ref ref="FILE" />
			<appender-ref ref="RollingFile" />
		</root>
	</loggers>
</configuration>