body {
	padding-top: 50px;
	/*Devido ao footer*/
	margin-bottom: 60px;
	/*Cinza: background-color: #eee;*/
}

.footer {
	position: absolute;
	bottom: 0;
	width: 100%;
	/* Set the fixed height of the footer here */
	height: 60px;
	/*Original cinza
  background-color: #f5f5f5;*/
	background-color: #C2D9E9;
}

/* LIXO
.starter-template {
	padding: 40px 15px;
	text-align: center;
}

/* MENSAGENS */
.alert-lateral {
	padding: 5px;
	border: 1px solid transparent;
	border-radius: 4px;
	width: inherit;
}

li.alert-success {
	list-style: none;
}

li.alert-warning {
	list-style: none;
}

li.alert-danger {
	list-style: none;
}

li.alert-info {
	list-style: none;
}

.ui-growl {
	position: fixed;
	top: 60px;
	right: 20px;
	width: 301px;
}